In [13]:
import pandas as pd
import numpy as np
import matplotlib

df = pd.read_csv(r'warehouse_scans_with_order_details.csv')
print(df)

       order_id  depot_id             type parcel_size  \
0     165387601    103410   global_inbound           s
1     165387601    103410   global_inbound           s
2     165387601       255  warehouse_sweep           s
3     166121091         2  warehouse_sweep           m
4     166121091         2  warehouse_sweep           m
...         ...       ...              ...         ...
3493  168393941    103410   global_inbound           s
3494  168393941    103430   global_inbound           s
3495  168393941       251  warehouse_sweep           s
3496  168395421    103410   global_inbound           s
3497  168395421       246  warehouse_sweep           s

                       dest_zone           scanned_at
0     F01-C (LORONG 6 TOA PAYOH)  2023-01-09 18:30:47
1     F01-C (LORONG 6 TOA PAYOH)  2023-01-09 18:59:39
2     F01-C (LORONG 6 TOA PAYOH)  2023-01-10 06:54:02
3                          D09-H  2023-01-03 21:51:47
4                          D09-H  2023-01-03 21:52:21
...                          ...                  ...
3493    G12-F (YISHUN STREET 42)  2023-01-26 22:31:47
3494    G12-F (YISHUN STREET 42)  2023-01-26 22:33:12
3495    G12-F (YISHUN STREET 42)  2023-01-27 05:27:32
3496   J09-G (LORONG 40 GEYLANG)  2023-01-24 20:24:03
3497   J09-G (LORONG 40 GEYLANG)  2023-01-25 04:55:49

[3498 rows x 6 columns]

In [14]:
print(df.columns)

Index(['order_id', 'depot_id', 'type', 'parcel_size', 'dest_zone',
       'scanned_at'],
      dtype='object')

In [15]:
df2 = df.truncate(after=1000)

In [16]:
df.groupby("order_id").count()

           depot_id  type  parcel_size  dest_zone  scanned_at
order_id
165387601         3     3            3          3           3
166121091         8     8            8          8           8
166310371        14    14           14         14          14
166379961        13    13           13         13          13
166496291         5     5            5          0           5
...             ...   ...          ...        ...         ...
168383201         3     3            3          3           3
168389591         3     3            3          3           3
168393401         3     3            3          3           3
168393941         4     4            4          4           4
168395421         2     2            2          2           2

[1000 rows x 5 columns]

In [20]:
num_of_parcels = df["order_id"].nunique()
parcel_small = df["parcel_size"]
print(num_of_parcels)

276